.cartButton {
  width: 10rem;
  border: none;
  border-radius: 3.125rem;
  margin: 1rem 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.cartSpan {
  display: flex;
  align-items: center;
}

.cartSpan p {
  margin-left: 0.7rem;
}
